Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh

Standardize classic_project Makefile using repoplone settings
  templates/projects/classic/{{ cookiecutter.__folder_name }}/Makefile
Owners: @pbauer

Synchronize filters and versioning properties in classic_project for repoplone 1.0
  templates/projects/classic/cookieplone.json
Owners: @pbauer

Modernize repository.toml for classic_project and enable CalVer support
  templates/projects/classic/{{ cookiecutter.__folder_name }}/repository.toml
Owners: @pbauer

feat: Conditional frontend questions in project template
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
Owners: @ericof

fix the condition for repository.toml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
Owners: @ericof

docs: Add changelog entry for conditional project questions
  news/+conditional_project_questions.feature
Owners: none

Include useful values to have in the example config
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/mx.ini
Owners: @ericof

Fix conditional visibility of Volto variables using Dual allOf pattern
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

Don't include volto stuff in gh actions if not relevant
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
Owners: none

Make managed by uv true
  templates/add-ons/backend/cookieplone.json
Owners: @ericof

Fix variable dependency and ordering in monorepo template
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
Owners: @ericof

fix
  tests/cookieplone-templates/test_templates.py
Owners: none

Finalize promotion pattern and ordering for conditional Volto questions
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

re-rename
  cookieplone-config.json
Owners: none

get values safely
  templates/projects/monorepo/hooks/post_gen_project.py
Owners: @ericof

feat: Implement conditional questions for Volto vs Classic UI in monorepo template
  templates/projects/monorepo/cookieplone.json
  tests/templates/projects/monorepo/test_project_variables.py
Owners: @ericof

docs: Add changelog entry for project template unification
  news/+unify_project_templates.feature
Owners: none

Don't delete mxdev related stuff
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

make frontend questions conditional in project template
  templates/ci/gh_classic_project/.gitignore
  templates/ci/gh_classic_project/Makefile
  templates/ci/gh_classic_project/README.md
  templates/ci/gh_classic_project/cookieplone.json
  templates/ci/gh_classic_project/hooks/post_gen_project.py
  templates/ci/gh_classic_project/hooks/pre_prompt.py
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/instructions/docs.instructions.md
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/docs.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/manual_deploy.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/varnish.yml
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
  tests/conftest.py
  tests/cookieplone-templates/test_templates.py
  tests/templates/ci/gh_classic_project/__init__.py
  tests/templates/ci/gh_classic_project/conftest.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_cache.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_deploy.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_docs.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_variables.py
  tests/templates/projects/monorepo/conftest.py
  tests/templates/projects/monorepo/test_project_classic.py
  tests/templates/projects/monorepo/test_project_variables.py
  tests/templates/sub/classic_project_settings/__init__.py
  tests/templates/sub/classic_project_settings/conftest.py
  tests/templates/sub/classic_project_settings/test_sub_classic_project_settings_cutter.py
  tests/templates/sub/classic_project_settings/test_sub_classic_project_settings_variables.py
Owners: @ericof

reenable
  templates/projects/monorepo/hooks/post_gen_project.py
Owners: @ericof

adjust names
  cookieplone-config.json
Owners: none

Fix the mxdev call and ordering
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

restore subtemplate
  templates/add-ons/monorepo/hooks/post_gen_project.py
Owners: none

fix
  tests/templates/projects/monorepo/test_project_classic.py
Owners: none

remove unneeded
  tests/templates/projects/classic/test_classic_images.py
Owners: none

fix
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

reorder questions and fix wording on gating question about frontend
  templates/add-ons/backend/cookieplone.json
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

fix: add trailing comma
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

fix tests
  tests/templates/projects/monorepo/test_project_images.py
  tests/templates/projects/monorepo/test_project_variables.py
Owners: none

add running mxdev when building the docker image
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
Owners: @sneridagh

document different ways of having development addons: filesystem and frontend/backend addon
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/mx.ini
Owners: @ericof

REmove
  seven-add-on/.cookieplone.json
  seven-add-on/.github/workflows/acceptance.yml
  seven-add-on/.github/workflows/changelog.yml
  seven-add-on/.github/workflows/code.yml
  seven-add-on/.github/workflows/i18n.yml
  seven-add-on/.github/workflows/storybook.yml
  seven-add-on/.github/workflows/unit.yml
  seven-add-on/.gitignore
  seven-add-on/.npmignore
  seven-add-on/.npmrc
  seven-add-on/.pnpmfile.cjs
  seven-add-on/.prettierignore
  seven-add-on/.prettierrc
  seven-add-on/.storybook/main.js
  seven-add-on/.storybook/preview.jsx
  seven-add-on/.stylelintrc
  seven-add-on/Dockerfile
  seven-add-on/Makefile
  seven-add-on/README.md
  seven-add-on/eslint.config.mjs
  seven-add-on/mrs.developer.json
  seven-add-on/package.json
  seven-add-on/packages/seven-add-on/.gitignore
  seven-add-on/packages/seven-add-on/.release-it.json
  seven-add-on/packages/seven-add-on/CHANGELOG.md
  seven-add-on/packages/seven-add-on/index.ts
  seven-add-on/packages/seven-add-on/locales/de/LC_MESSAGES/volto.po
  seven-add-on/packages/seven-add-on/locales/en/LC_MESSAGES/volto.po
  seven-add-on/packages/seven-add-on/locales/es/LC_MESSAGES/volto.po
  seven-add-on/packages/seven-add-on/locales/pt_BR/LC_MESSAGES/volto.po
  seven-add-on/packages/seven-add-on/locales/volto.pot
  seven-add-on/packages/seven-add-on/news/.gitkeep
  seven-add-on/packages/seven-add-on/package.json
  seven-add-on/packages/seven-add-on/public/.gitkeep
  seven-add-on/packages/seven-add-on/towncrier.toml
  seven-add-on/packages/seven-add-on/tsconfig.json
  seven-add-on/packages/seven-add-on/types.d.ts
  seven-add-on/pnpm-workspace.yaml
  seven-add-on/registry.config.ts
Owners: none

Fixes for both failures: the one already in the upstream `next` branch and the one with the mxdev[uv]
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  tests/templates/projects/monorepo/test_project_images.py
Owners: @ericof

Remaining renames
  templates/add-ons/aurora_addon/hooks/pre_prompt.py
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/registry.config.ts
Owners: none

Upgrade cookieplone to version 2.0.0b2
  news/+cookieplone.internal
  pyproject.toml
  uv.lock
Owners: none

Use 'uvx towncrier' instead of 'pipx run towncrier' for release-it. fixes #404 (#405)
  news/404.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
Owners: @sneridagh

Upgrade cookieplone to 2.0.0b2 and switch release-it to uvx towncrier (#410)
  news/+cookieplone.internal
  news/404.bugfix
  pyproject.toml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  uv.lock
Owners: @sneridagh

Bump cookieplone to 2.0.0b3 and adopt post-generation summary screen
  cookieplone-config.json
  news/411.feature
  pyproject.toml
  templates/add-ons/aurora_addon/hooks/post_gen_project.py
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/devops/ansible/hooks/post_gen_project.py
  templates/docs/starter/hooks/post_gen_project.py
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  uv.lock
Owners: @ericof, @sneridagh, @pbauer

Fix CI workflow argument source for node-version
  news/413.bugfix
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
Owners: none

Bump cookieplone to 2.0.0b3 and adopt post-generation summary screen (#412)
  cookieplone-config.json
  news/411.feature
  pyproject.toml
  templates/add-ons/aurora_addon/hooks/post_gen_project.py
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/devops/ansible/hooks/post_gen_project.py
  templates/docs/starter/hooks/post_gen_project.py
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  uv.lock
Owners: @ericof, @sneridagh, @pbauer
