Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh

Fixed Dockerfile.acceptance in project
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

Changelog
  news/416.bugfix
Owners: none

Fix make format path handling
  news/+quote-make-format-paths.bugfix
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
Owners: @pbauer, @ericof

Fixed `Dockerfile.acceptance` in project (#416)
  news/416.bugfix
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

Update devops_db_version to version 18 and fix volume mappings
  cookieplone-config.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
Owners: @pbauer, @ericof

Update backend_python to 3.14
  cookieplone-config.json
Owners: none

Purge deprecated and redundant use of rtd-pr-preview.yml workflow in templates.
  templates/ci/gh_classic_project/hooks/post_gen_project.py
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_monorepo_addon/hooks/post_gen_project.py
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_project/hooks/post_gen_project.py
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/projects/classic/hooks/post_gen_project.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_docs.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter_docs.py
  tests/templates/ci/gh_project/test_gh_project_cutter_docs.py
  tests/templates/projects/classic/test_classic_docs.py
  tests/templates/projects/classic/test_classic_generation.py
  tests/templates/projects/monorepo/test_project_docs.py
  tests/templates/projects/monorepo/test_project_generation.py
Owners: @pbauer

change log
  news/419.bugfix
Owners: none

Update config.versions in cookieplone-config.json. (Closes #418)
  cookieplone-config.json
  news/418.feature
  news/418.feature.1
  news/418.feature.2
  news/418.feature.3
  news/418.feature.4
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/etc/stacks/traefik.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/sub/cache/{{ cookiecutter.__folder_name }}/devops/varnish/Dockerfile
  templates/sub/cache/{{ cookiecutter.__folder_name }}/devops/varnish/etc/varnish.vcl
Owners: @pbauer, @ericof

Upgrade versions (#420)
  cookieplone-config.json
  news/418.feature
  news/418.feature.1
  news/418.feature.2
  news/418.feature.3
  news/418.feature.4
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/etc/stacks/traefik.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/sub/cache/{{ cookiecutter.__folder_name }}/devops/varnish/Dockerfile
  templates/sub/cache/{{ cookiecutter.__folder_name }}/devops/varnish/etc/varnish.vcl
Owners: @pbauer, @ericof

Remove container_registry_prefix_separator from __container_image_prefix
  news/421.bugfix
  templates/add-ons/monorepo/cookieplone.json
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/classic/cookieplone.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/README-GHA.md
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/sub/addon_settings/cookieplone.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/cookieplone.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  tests/templates/add-ons/monorepo/test_monorepo_images.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_cutter.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/projects/classic/test_classic_images.py
  tests/templates/projects/monorepo/test_project_images.py
Owners: @pbauer, @ericof, @sneridagh

Remove container_registry_prefix_separator from __container_image_prefix (#422)
  news/421.bugfix
  templates/add-ons/monorepo/cookieplone.json
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/classic/cookieplone.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/README-GHA.md
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/sub/addon_settings/cookieplone.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/cookieplone.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  tests/templates/add-ons/monorepo/test_monorepo_images.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_cutter.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/projects/classic/test_classic_images.py
  tests/templates/projects/monorepo/test_project_images.py
Owners: @pbauer, @ericof, @sneridagh

Replace remaining pipx usages with uvx across templates
  news/423.internal
  templates/add-ons/aurora_addon/README.md
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/Makefile
  templates/projects/plone7_nick_embedded/README.md
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  tests/templates/add-ons/aurora_addon/test_aurora_addon_cutter.py
  tests/templates/projects/plone7_nick_embedded/test_cutter.py
Owners: @ericof

Replace remaining pipx usages with uvx across templates (#424)
  news/423.internal
  templates/add-ons/aurora_addon/README.md
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/Makefile
  templates/projects/plone7_nick_embedded/README.md
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  tests/templates/add-ons/aurora_addon/test_aurora_addon_cutter.py
  tests/templates/projects/plone7_nick_embedded/test_cutter.py
Owners: @ericof

Purge deprecated and redundant use of rtd-pr-preview.yml workflow in … (#419)
  news/419.bugfix
  templates/ci/gh_classic_project/hooks/post_gen_project.py
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_monorepo_addon/hooks/post_gen_project.py
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_project/hooks/post_gen_project.py
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/projects/classic/hooks/post_gen_project.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_docs.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter_docs.py
  tests/templates/ci/gh_project/test_gh_project_cutter_docs.py
  tests/templates/projects/classic/test_classic_docs.py
  tests/templates/projects/classic/test_classic_generation.py
  tests/templates/projects/monorepo/test_project_docs.py
  tests/templates/projects/monorepo/test_project_generation.py
Owners: @pbauer

Add is_classic property to sub/project_settings/cookieplone.json
  templates/sub/project_settings/cookieplone.json
Owners: @sneridagh

Add is_classic property to project templates
  templates/projects/classic/cookieplone.json
  templates/projects/monorepo/cookieplone.json
Owners: @pbauer, @ericof

Modernize and conditionalize sub/project_settings for Classic/Volto unification
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/scripts/create_site.py
Owners: @sneridagh

Switch classic_project to use unified sub/project_settings
  templates/projects/classic/cookieplone.json
  templates/projects/classic/hooks/post_gen_project.py
Owners: @pbauer

Remove obsolete sub/classic_project_settings template
  templates/sub/classic_project_settings/Makefile
  templates/sub/classic_project_settings/README.md
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/.dockerignore
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/README.md
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/scripts/create_site.py
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/__init__.py
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/__main__.py
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/{{ cookiecutter.__locales_language }}/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/{{ cookiecutter.python_package_name }}.pot
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles.zcml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/default/registry/plone.base.interfaces.controlpanel.IMailSchema.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/default/registry/plone.base.interfaces.controlpanel.ISiteSchema.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/default/registry/plone.i18n.interfaces.ILanguageSchema.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/initial/metadata.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/.gitkeep
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/__metadata__.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/a58ccead718140c1baa98d43595fc3e6/data.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/a58ccead718140c1baa98d43595fc3e6/image/plone-foundation.png
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/a720393b3c0240e5bd27c43fcd2cfd1e/data.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/plone_site_root/data.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/discussions.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/portlets.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/principals.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/redirects.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/relations.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/translations.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/initial.py
Owners: none

Standardize classic_project Makefile using repoplone settings
  templates/projects/classic/{{ cookiecutter.__folder_name }}/Makefile
Owners: @pbauer

Remove sub/classic_project_settings from cookieplone-config.json
  cookieplone-config.json
Owners: none

Fix inconsistencies and test expectations for unified project settings
  templates/projects/classic/cookieplone.json
  templates/sub/project_settings/cookieplone.json
  tests/templates/projects/classic/test_classic_variables.py
Owners: @pbauer, @sneridagh

Modernize repository.toml for classic_project and enable CalVer support
  templates/projects/classic/{{ cookiecutter.__folder_name }}/repository.toml
Owners: @pbauer

Update tests to reflect unified project settings and removed sub-template
  tests/cookieplone-templates/test_templates.py
  tests/templates/projects/classic/test_classic_backend.py
Owners: none

Synchronize filters and versioning properties in classic_project for repoplone 1.0
  templates/projects/classic/cookieplone.json
Owners: @pbauer

feat: Conditional frontend questions in project template
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
Owners: @ericof

docs: Add changelog entry for project template unification
  news/+unify_project_templates.feature
Owners: none

adjust names
  cookieplone-config.json
Owners: none

docs: Add changelog entry for conditional project questions
  news/+conditional_project_questions.feature
Owners: none

feat: Implement conditional questions for Volto vs Classic UI in monorepo template
  templates/projects/monorepo/cookieplone.json
  tests/templates/projects/monorepo/test_project_variables.py
Owners: @ericof

make frontend questions conditional in project template
  templates/ci/gh_classic_project/.gitignore
  templates/ci/gh_classic_project/Makefile
  templates/ci/gh_classic_project/README.md
  templates/ci/gh_classic_project/cookieplone.json
  templates/ci/gh_classic_project/hooks/post_gen_project.py
  templates/ci/gh_classic_project/hooks/pre_prompt.py
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/instructions/docs.instructions.md
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/docs.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/manual_deploy.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/varnish.yml
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
  tests/conftest.py
  tests/cookieplone-templates/test_templates.py
  tests/templates/ci/gh_classic_project/__init__.py
  tests/templates/ci/gh_classic_project/conftest.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_cache.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_deploy.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_docs.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_variables.py
  tests/templates/projects/monorepo/conftest.py
  tests/templates/projects/monorepo/test_project_classic.py
  tests/templates/projects/monorepo/test_project_variables.py
  tests/templates/sub/classic_project_settings/__init__.py
  tests/templates/sub/classic_project_settings/conftest.py
  tests/templates/sub/classic_project_settings/test_sub_classic_project_settings_cutter.py
  tests/templates/sub/classic_project_settings/test_sub_classic_project_settings_variables.py
Owners: @ericof

reenable
  templates/projects/monorepo/hooks/post_gen_project.py
Owners: @ericof

Don't include volto stuff in gh actions if not relevant
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
Owners: none

Fix variable dependency and ordering in monorepo template
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
Owners: @ericof

restore subtemplate
  templates/add-ons/monorepo/hooks/post_gen_project.py
Owners: none

Include useful values to have in the example config
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/mx.ini
Owners: @ericof

Don't delete mxdev related stuff
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

re-rename
  cookieplone-config.json
Owners: none

get values safely
  templates/projects/monorepo/hooks/post_gen_project.py
Owners: @ericof
