Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

.vault_pass.txt was renamed to .vault_pass . Ignore it instead (#440)
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/.gitignore
Owners: none

.vault_pass.txt was renamed to .vault_pass . Ignore it instead (#440) (#442)
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/.gitignore
Owners: none

Upgrade Aurora templates to pnpm 11
  cookieplone-config.json
  news/+aurora_pnpm_11.internal
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.npmrc
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/README.md
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
  templates/ci/gh_aurora_nick/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  tests/templates/add-ons/aurora_addon/test_aurora_addon_cutter.py
  tests/templates/ci/gh_aurora_nick/test_gh_aurora_nick_cutter.py
  tests/templates/projects/aurora_nick/test_cutter.py
Owners: none

No cypress anywhere in aurora
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
Owners: none

Release 20260810.1
  CHANGELOG.md
  news/+lychee-linkcheck.internal
  news/404.bugfix
  news/406.internal
  news/407.bugfix
  news/413.bugfix
  news/419.bugfix
  pyproject.toml
  uv.lock
Owners: none

Guard every frontend-only value in the project CI workflows
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  tests/templates/ci/gh_project/test_gh_project_cutter.py
Owners: none

Sync Aurora pnpm follow-up fixes
  news/+aurora_i18next.internal
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  tests/templates/add-ons/aurora_addon/test_aurora_addon_cutter.py
  tests/templates/projects/aurora_nick/test_cutter.py
Owners: none

Fix Aurora Nick Playwright setup
  .github/workflows/main.yml
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

Remove README ## Choose a template. Belongs to cookieplone documentation.
  README.md
Owners: none

Remove instructions on how to check in project to git. This is out of scope.
  README.md
Owners: none

add changelog entry
  news/426.feature
Owners: none

Remove README ## Installation. Belongs to cookieplone documentation.
  README.md
Owners: none

refine descriptions in cookieplone-config.json for clarity and consistency
  cookieplone-config.json
  news/425.feature
Owners: none

refine descriptions in cookieplone-config.json for clarity and consistency (#426)
  cookieplone-config.json
  news/425.feature
Owners: none

Clean up README (#427)
  README.md
  news/426.feature
Owners: none

Fixed database parameters coming from the template. Stick to 'nick'
  templates/projects/aurora_nick/{{ cookiecutter.__folder_name }}/backend/config.ts
  templates/projects/aurora_nick/{{ cookiecutter.__folder_name }}/backend/src/profiles/default/documents/_root.json
  templates/projects/volto_nick/{{ cookiecutter.__folder_name }}/backend/config.ts
  templates/projects/volto_nick/{{ cookiecutter.__folder_name }}/backend/src/profiles/default/documents/_root.json
Owners: none

Changelog
  news/+fix_database_parameters_nick_backends.bugfix
Owners: none

Fixed tests
  .github/workflows/main.yml
  templates/projects/aurora_nick/tests/test_cutter.py
  templates/projects/volto_nick/tests/test_cutter.py
Owners: @ericof

Fix Nick CI expectations
  .github/tests/aurora-nick.test.js
  tests/templates/projects/aurora_nick/test_cutter.py
  tests/templates/projects/volto_nick/test_cutter.py
Owners: @ericof

Fix Aurora CMFPlone functional runner
  .github/workflows/main.yml
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

Remove Volto coupling from Aurora metadata
  templates/ci/gh_aurora_cmfplone/cookieplone.json
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/projects/aurora_cmfplone/cookieplone.json
  templates/projects/aurora_cmfplone/hooks/post_gen_project.py
  templates/projects/aurora_cmfplone/{{ cookiecutter.__folder_name }}/repository.toml
  tests/templates/ci/gh_aurora_cmfplone/conftest.py
  tests/templates/ci/gh_aurora_cmfplone/test_gh_project_cutter.py
  tests/templates/projects/aurora_cmfplone/test_project_cutter.py
Owners: none

Assert CMFPlone example content
  .github/tests/aurora-cmfplone.test.js
Owners: @ericof

Improve Nick development and deployment setup
  templates/projects/aurora_cmfplone/{{ cookiecutter.__folder_name }}/devops/.env_gha
  templates/projects/aurora_nick/tests/test_cutter.py
  templates/projects/volto_nick/hooks/post_gen_project.py
  templates/projects/volto_nick/tests/test_cutter.py
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/.prettierrc
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/config.ts
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/docker-compose.yml
  tests/templates/projects/aurora_nick/test_cutter.py
  tests/templates/projects/volto_nick/test_cutter.py
  tests/templates/sub/nick_backend/test_sub_nick_backend_cutter.py
Owners: none

Fix Aurora Nick API path configuration
  templates/projects/aurora_nick/tests/test_cutter.py
  templates/projects/aurora_nick/{{ cookiecutter.__folder_name }}/frontend/packages/{{ cookiecutter.frontend_addon_name }}/config/server.ts
  templates/projects/aurora_nick_embedded/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/_root.json
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  tests/templates/projects/aurora_nick/test_cutter.py
Owners: none

Test Volto Nick developer commands in CI
  .github/workflows/main.yml
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

Fix generated Nick backend checks and profile
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/package.json
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  tests/cookieplone-templates/test_nick_backend.py
  tests/templates/sub/nick_backend/test_sub_nick_backend_cutter.py
Owners: none

Fix generated Nick project CI checks
  .github/tests/aurora-nick.test.js
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/package.json
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  tests/conftest.py
  tests/templates/projects/volto_nick/test_cutter.py
  tests/templates/sub/nick_backend/test_sub_nick_backend_cutter.py
Owners: @ericof, @sneridagh

Fix remaining Nick CI failures
  .github/tests/volto-nick.test.js
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  tests/templates/projects/volto_nick/test_cutter.py
Owners: @ericof, @sneridagh

Test developer commands in all functional jobs
  .github/workflows/main.yml
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

Fix generated backend documentation lint
  templates/docs/starter/{{ cookiecutter.__folder_name }}/docs/conf.py
Owners: @ericof

Fix Aurora developer command failures
  templates/projects/aurora_cmfplone/hooks/post_gen_project.py
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  tests/templates/projects/aurora_cmfplone/test_project_backend.py
Owners: none

Fix Aurora Nick API path configuration (#449)
  .github/tests/aurora-nick.test.js
  .github/tests/volto-nick.test.js
  .github/workflows/main.yml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/docs/starter/{{ cookiecutter.__folder_name }}/docs/conf.py
  templates/projects/aurora_cmfplone/hooks/post_gen_project.py
  templates/projects/aurora_nick/tests/test_cutter.py
  templates/projects/aurora_nick/{{ cookiecutter.__folder_name }}/frontend/packages/{{ cookiecutter.frontend_addon_name }}/config/server.ts
  templates/projects/aurora_nick_embedded/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/_root.json
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/package.json
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  tests/conftest.py
  tests/cookieplone-templates/test_nick_backend.py
  tests/cookieplone-templates/test_workflows.py
  tests/templates/projects/aurora_cmfplone/test_project_backend.py
  tests/templates/projects/aurora_nick/test_cutter.py
  tests/templates/projects/volto_nick/test_cutter.py
  tests/templates/sub/nick_backend/test_sub_nick_backend_cutter.py
Owners: @ericof, @sneridagh

Add configurable Aurora version pin
  news/+aurora_version.feature
  templates/add-ons/aurora_addon/README.md
  templates/add-ons/aurora_addon/cookieplone.json
  templates/add-ons/aurora_addon/latest_aurora.py
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/mrs.developer.json
  templates/projects/aurora_cmfplone/README.md
  templates/projects/aurora_cmfplone/cookieplone.json
  templates/projects/aurora_cmfplone/latest_aurora.py
  templates/projects/aurora_nick/README.md
  templates/projects/aurora_nick/cookieplone.json
  templates/projects/aurora_nick/latest_aurora.py
  templates/projects/aurora_nick_embedded/README.md
  templates/projects/aurora_nick_embedded/cookieplone.json
  templates/projects/aurora_nick_embedded/latest_aurora.py
  tests/conftest.py
  tests/templates/add-ons/aurora_addon/test_aurora_addon_cutter.py
  tests/templates/projects/aurora_cmfplone/conftest.py
  tests/templates/projects/aurora_cmfplone/test_project_cutter.py
  tests/templates/projects/aurora_nick/test_cutter.py
  tests/templates/projects/aurora_nick_embedded/test_cutter.py
Owners: none

Add configurable Aurora version pin (#450)
  news/+aurora_version.feature
  templates/add-ons/aurora_addon/README.md
  templates/add-ons/aurora_addon/cookieplone.json
  templates/add-ons/aurora_addon/latest_aurora.py
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/mrs.developer.json
  templates/projects/aurora_cmfplone/README.md
  templates/projects/aurora_cmfplone/cookieplone.json
  templates/projects/aurora_cmfplone/latest_aurora.py
  templates/projects/aurora_nick/README.md
  templates/projects/aurora_nick/cookieplone.json
  templates/projects/aurora_nick/latest_aurora.py
  templates/projects/aurora_nick_embedded/README.md
  templates/projects/aurora_nick_embedded/cookieplone.json
  templates/projects/aurora_nick_embedded/latest_aurora.py
  tests/conftest.py
  tests/templates/add-ons/aurora_addon/test_aurora_addon_cutter.py
  tests/templates/projects/aurora_cmfplone/conftest.py
  tests/templates/projects/aurora_cmfplone/test_project_cutter.py
  tests/templates/projects/aurora_nick/test_cutter.py
  tests/templates/projects/aurora_nick_embedded/test_cutter.py
Owners: none

Align
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
Owners: @ericof

Align (#451)
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
Owners: @ericof

Add Playwright acceptance setup to the Aurora templates
  news/+aurora_playwright_acceptance.feature
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/.gitignore
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/README.md
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/README.md
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/accessibility.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/content.test.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/content.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/homepage.test.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/login.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/reset-fixture.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/tests/test.ts
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/playwright-acceptance.config.ts
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/playwright.yml
Owners: none

Name the project CI acceptance workflow acceptance.yml
  news/+aurora_playwright_acceptance.feature
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/acceptance.yml
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/main.yml
Owners: none

Move Playwright deps to the add-on package; rename CI job to acceptance
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/acceptance.yml
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/main.yml
Owners: none

fix(aurora): use Aurora base images and AURORA_VERSION build arg
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/ci/gh_aurora_cmfplone/cookieplone.json
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/projects/aurora_cmfplone/README.md
  templates/projects/aurora_cmfplone/cookieplone.json
  templates/projects/aurora_cmfplone/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/aurora_cmfplone/{{ cookiecutter.__folder_name }}/docker-compose.yml
Owners: none

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
