Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

Fix varnish CI.
  news/+7678e301.bugfix.md
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
Owners: none

Fix varnish CI. (#336)
  news/+7678e301.bugfix.md
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
Owners: none

Add a version.txt file with Plone version
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/version.txt
  tests/templates/add-ons/monorepo/test_monorepo_cutter.py
Owners: none

Update pyproject.toml
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
Owners: @ericof

Fix tests
  tests/templates/sub/addon_settings/test_sub_addon_settings_variables.py
Owners: none

Update template
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  tests/templates/sub/addon_settings/test_sub_addon_settings_variables.py
Owners: @ericof, @sneridagh

Fix CI template for monorepo addon
  templates/ci/gh_monorepo_addon/cookiecutter.json
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
Owners: none

Fixes to pyproject.toml
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/.gitignore
  templates/sub/project_settings/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  tests/templates/add-ons/monorepo/test_monorepo_variables.py
Owners: @ericof, @sneridagh

GHA: Add templates to the matrix for testing
  .github/workflows/main.yml
Owners: @ericof

GHA: Fix classic_project_settings tests
  .github/workflows/main.yml
Owners: @ericof

fix: use valid git repository URL format in cookiecutter templates
  news/263.bugfix
  templates/add-ons/backend/cookiecutter.json
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/monorepo/cookiecutter.json
  templates/docs/starter/cookiecutter.json
  templates/projects/classic/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/classic_project_settings/cookiecutter.json
  templates/sub/project_settings/cookiecutter.json
Owners: @ericof, @sneridagh, @pbauer

GHA: Fix backend tests "Failed to create virtual environment". Closes #342
  news/342.bugfix
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof, @sneridagh

Use pnpm 9.15.9 in Volto 18
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/monorepo/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/frontend_project/cookiecutter.json
  templates/sub/project_settings/cookiecutter.json
Owners: @sneridagh, @ericof

Add changes
  news/344.feature
Owners: none

update the version of cookiecutter-zope-instance to use
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof, @sneridagh

changelog
  news/+zope-instance.feature
Owners: none

Project: Manage backend installation with uv. Closes #350
  news/350.feature
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles.zcml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  tests/templates/projects/monorepo/test_project_backend.py
Owners: @ericof, @sneridagh

Makefile: Fix package name
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

Makefile: Remove reference to mrbob.ini
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

Project: Manage backend installation with uv (#352)
  news/350.feature
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles.zcml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  tests/templates/projects/monorepo/test_project_backend.py
Owners: @ericof, @sneridagh

Prepare the first release of cookieplone-templates
  .scripts/release.py
  Makefile
  README.md
  news/+prepare-release.internal
  pyproject.toml
  uv.lock
Owners: none

Update GHA link checker
  .github/workflows/readme-link-check.yml
Owners: @ericof

Use latest version of cookiecutter-zope-instance (#349)
  news/+zope-instance.feature
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof

Use pnpm 9.15.9 in Volto 18 (#344)
  news/344.feature
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/monorepo/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/frontend_project/cookiecutter.json
  templates/sub/project_settings/cookiecutter.json
Owners: @sneridagh, @ericof

Update .gitignore
  .gitignore
Owners: none

Update script to also bump version number on pyproject.toml
  .scripts/release.py
Owners: none

Lock repoplone
  pyproject.toml
  uv.lock
Owners: none

Prepare the first release of cookieplone-templates (#353)
  .github/workflows/readme-link-check.yml
  .gitignore
  .scripts/release.py
  Makefile
  README.md
  news/+prepare-release.internal
  pyproject.toml
  uv.lock
Owners: @ericof

Update Changelog
  CHANGELOG.md
Owners: none

Use Lychee for linkchecker
  .github/workflows/readme-link-check.yml
Owners: @ericof

Change log
  news/+lychee-linkcheck.internal
Owners: none

Use fully qualified URL to license file
  README.md
Owners: none

Add cookieplone-config.json
  cookieplone-config.json
Owners: none

Install cookieplone from main branch, remove pytest-cookies
  news/357.internal
  pyproject.toml
  tests/conftest.py
  tests/templates/projects/classic/test_classic_repository_toml.py
  uv.lock
Owners: none

Add pytest-xdist for parallel test execution
  pyproject.toml
  uv.lock
Owners: none

GHA: Run main workflow also on branch
  .github/workflows/main.yml
Owners: @ericof

Install cookieplone from main branch, remove pytest-cookies (#358)w
  .github/workflows/main.yml
  news/357.internal
  pyproject.toml
  tests/conftest.py
  tests/templates/projects/classic/test_classic_repository_toml.py
  uv.lock
Owners: @ericof

Migrate projects/monorepo to cookieplone v2 schema (#359)
  .gitignore
  cookiecutter.json
  news/359.feature
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/pre_gen_project.py
  templates/projects/monorepo/hooks/pre_prompt.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  tests/conftest.py
  tests/cookieplone-templates/conftest.py
  tests/cookieplone-templates/test_required_variables.py
  tests/templates/projects/monorepo/conftest.py
  uv.lock
Owners: @ericof

Teach reporting scripts to read v2 schemas and track versions usage
  .scripts/report_context.py
  .scripts/report_keys_usage.py
Owners: none

Next: Migrate projects/monorepo to cookieplone v2 schema (#360)
  .github/workflows/main.yml
  .gitignore
  .scripts/report_context.py
  .scripts/report_keys_usage.py
  cookieplone-config.json
  news/357.internal
  news/359.feature
  pyproject.toml
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/pre_gen_project.py
  templates/projects/monorepo/hooks/pre_prompt.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  tests/conftest.py
  tests/cookieplone-templates/conftest.py
  tests/cookieplone-templates/test_required_variables.py
  tests/templates/projects/classic/test_classic_repository_toml.py
  tests/templates/projects/monorepo/conftest.py
  uv.lock
Owners: @ericof

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
