Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

Ensure every template ships a pre_prompt MIN_COOKIEPLONE check
  news/+pre_prompt_min_version_check.internal
  templates/add-ons/backend/hooks/pre_prompt.py
  templates/add-ons/monorepo/hooks/pre_prompt.py
  templates/agents/instructions/hooks/pre_prompt.py
  templates/ci/gh_backend_addon/hooks/pre_prompt.py
  templates/ci/gh_classic_project/hooks/pre_prompt.py
  templates/ci/gh_frontend_addon/hooks/pre_prompt.py
  templates/ci/gh_monorepo_addon/hooks/pre_prompt.py
  templates/ci/gh_project/hooks/pre_prompt.py
  templates/devops/ansible/hooks/pre_prompt.py
  templates/docs/starter/hooks/pre_prompt.py
  templates/ide/vscode/hooks/pre_prompt.py
  templates/projects/classic/hooks/pre_prompt.py
  templates/projects/monorepo/hooks/pre_prompt.py
  templates/sub/cache/hooks/pre_prompt.py
  templates/sub/frontend_project/hooks/pre_prompt.py
  templates/sub/project_settings/hooks/pre_prompt.py
Owners: @ericof, @pbauer, @sneridagh

Use node instead of jq to parse values from REPOSITORY_SETTINGS
  news/+jq.internal
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
Owners: @ericof, @sneridagh

Use uvx ruff in Makefile so make format/lint work without a dev dep
  Makefile
  news/374.bugfix
Owners: none

feat: use a plugin to render the README and CHANGELOG files as the README on pypi if the package is released
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
Owners: @ericof

changelog
  news/387.feature
Owners: none

Use uvx ruff in per-template Makefiles
  news/+sub_makefile_uvx.bugfix
  templates/add-ons/backend/Makefile
  templates/add-ons/frontend/Makefile
  templates/add-ons/monorepo/Makefile
  templates/agents/instructions/Makefile
  templates/ci/gh_backend_addon/Makefile
  templates/ci/gh_classic_project/Makefile
  templates/ci/gh_frontend_addon/Makefile
  templates/ci/gh_monorepo_addon/Makefile
  templates/ci/gh_project/Makefile
  templates/devops/ansible/Makefile
  templates/ide/vscode/Makefile
  templates/projects/classic/Makefile
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/Makefile
  templates/sub/addon_settings/Makefile
  templates/sub/cache/Makefile
  templates/sub/classic_project_settings/Makefile
  templates/sub/frontend_project/Makefile
  templates/sub/project_settings/Makefile
  tests/conftest.py
  tests/templates/add-ons/seven_addon/test_seven_addon_cutter.py
Owners: @ericof, @sneridagh, @pbauer

Derive template list for format_templates from cookieplone-config.json
  .github/workflows/main.yml
  .scripts/list_templates.py
  Makefile
  news/+list_templates_script.internal
Owners: @ericof

Bump GitHub Actions pins and wire list-templates into the CI matrix
  .github/actions/generate/action.yml
  .github/actions/setup_python/action.yml
  .github/workflows/changelog.yml
  .github/workflows/main.yml
  .github/workflows/readme-link-check.yml
  .github/workflows/report.yml
  .github/workflows/test-repository.yml
  .github/workflows/test-template.yml
  news/385.internal
Owners: @ericof

Add minimal tests for plone7_nick_bff template
  news/+plone7_nick_bff_tests.tests
  tests/templates/projects/plone7_nick_bff/__init__.py
  tests/templates/projects/plone7_nick_bff/conftest.py
  tests/templates/projects/plone7_nick_bff/test_cutter.py
  tests/templates/projects/plone7_nick_bff/test_variables.py
Owners: none

Fix make format, derive template lists from config, bump GHA pins (#389)
  .github/actions/generate/action.yml
  .github/actions/setup_python/action.yml
  .github/workflows/changelog.yml
  .github/workflows/main.yml
  .github/workflows/readme-link-check.yml
  .github/workflows/report.yml
  .github/workflows/test-repository.yml
  .github/workflows/test-template.yml
  .scripts/list_templates.py
  Makefile
  news/+list_templates_script.internal
  news/+plone7_nick_bff_tests.tests
  news/+sub_makefile_uvx.bugfix
  news/374.bugfix
  news/385.internal
  templates/add-ons/backend/Makefile
  templates/add-ons/frontend/Makefile
  templates/add-ons/monorepo/Makefile
  templates/agents/instructions/Makefile
  templates/ci/gh_backend_addon/Makefile
  templates/ci/gh_classic_project/Makefile
  templates/ci/gh_frontend_addon/Makefile
  templates/ci/gh_monorepo_addon/Makefile
  templates/ci/gh_project/Makefile
  templates/devops/ansible/Makefile
  templates/ide/vscode/Makefile
  templates/projects/classic/Makefile
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/Makefile
  templates/sub/addon_settings/Makefile
  templates/sub/cache/Makefile
  templates/sub/classic_project_settings/Makefile
  templates/sub/frontend_project/Makefile
  templates/sub/project_settings/Makefile
  tests/conftest.py
  tests/templates/projects/plone7_nick_bff/__init__.py
  tests/templates/projects/plone7_nick_bff/conftest.py
  tests/templates/projects/plone7_nick_bff/test_cutter.py
  tests/templates/projects/plone7_nick_bff/test_variables.py
Owners: @ericof, @sneridagh, @pbauer

Create a rendered readme using README and CHANGELOg files (#388)
  news/387.feature
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
Owners: @ericof

First attempt to upgrade to cookieplone schema v2
  templates/projects/plone7_nick_embedded/cookiecutter.json
  templates/projects/plone7_nick_embedded/cookieplone.json
  templates/projects/plone7_nick_embedded/hooks/post_gen_project.py
  templates/projects/plone7_nick_embedded/hooks/pre_gen_project.py
  templates/projects/plone7_nick_embedded/hooks/pre_prompt.py
  templates/projects/plone7_nick_embedded/tests/test_cutter.py
  templates/projects/plone7_nick_embedded/tests/test_variables.py
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/package.json
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  tests/templates/projects/plone7_nick_bff/__init__.py
  tests/templates/projects/plone7_nick_embedded/__init__.py
  tests/templates/projects/plone7_nick_embedded/conftest.py
  tests/templates/projects/plone7_nick_embedded/test_cutter.py
  tests/templates/projects/plone7_nick_embedded/test_variables.py
Owners: none

Finish renaming, added requred files
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.npmrc
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/acceptance/tests/basic.test.ts
  tests/templates/projects/plone7_nick_embedded/__init__.py
  tests/templates/projects/plone7_nick_embedded/conftest.py
  tests/templates/projects/plone7_nick_embedded/test_cutter.py
  tests/templates/projects/plone7_nick_embedded/test_variables.py
Owners: none

Fix tests
  templates/projects/plone7_nick_embedded/Makefile
  templates/projects/plone7_nick_embedded/tests/conftest.py
  templates/projects/plone7_nick_embedded/tests/test_cutter.py
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.npmrc
  tests/templates/projects/plone7_nick_embedded/test_cutter.py
Owners: none

First attempt to upgrade to cookieplone schema v2 (#392)
  templates/projects/plone7_nick_embedded/cookiecutter.json
  templates/projects/plone7_nick_embedded/cookieplone.json
  templates/projects/plone7_nick_embedded/hooks/post_gen_project.py
  templates/projects/plone7_nick_embedded/hooks/pre_gen_project.py
  templates/projects/plone7_nick_embedded/hooks/pre_prompt.py
  templates/projects/plone7_nick_embedded/tests/test_cutter.py
  templates/projects/plone7_nick_embedded/tests/test_variables.py
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/package.json
  templates/projects/plone7_nick_embedded/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  tests/templates/projects/plone7_nick_embedded/__init__.py
  tests/templates/projects/plone7_nick_embedded/test_cutter.py
  tests/templates/projects/plone7_nick_embedded/test_variables.py
Owners: none

New deployment-app PoC
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/README.md
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/scripts/build-deployment-app.mjs
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/scripts/deploy-utils.mjs
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/scripts/generate-deployment-app.mjs
  templates/add-ons/plone7_frontend/{{ cookiecutter.__folder_name }}/scripts/install-deployment-app.mjs
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/deployment-app.yml
  tests/templates/add-ons/plone7_frontend/test_plone7_frontend_cutter.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
Owners: none

Fixes #396, default Dockerfile Python version
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
Owners: @sneridagh

Remove language settings not needed for Volto 19
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/packages/{{ cookiecutter.frontend_addon_name }}/src/config/settings.ts
Owners: @sneridagh

Parametrize Docker image build with PYTHON_VERSION arg
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
Owners: @sneridagh

Fix tests
  tests/templates/sub/project_settings/test_sub_project_settings_variables.py
Owners: none

Flexible docker image name generation depending on the container registry
  news/+flexible_image_naming.feature
  templates/add-ons/monorepo/cookieplone.json
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/devops/ansible/cookieplone.json
  templates/projects/classic/cookieplone.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/README-GHA.md
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/sub/addon_settings/cookieplone.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/cookieplone.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  tests/cookieplone-templates/test_templates.py
  tests/templates/add-ons/monorepo/test_monorepo_images.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_monorepo_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_project .py
  tests/templates/projects/classic/test_classic_images.py
  tests/templates/projects/monorepo/test_project_images.py
Owners: @pbauer, @ericof, @sneridagh

Added project with Nick as standalone server
  cookieplone-config.json
  templates/projects/plone7_nick/Makefile
  templates/projects/plone7_nick/README.md
  templates/projects/plone7_nick/cookieplone.json
  templates/projects/plone7_nick/hooks/post_gen_project.py
  templates/projects/plone7_nick/hooks/pre_prompt.py
  templates/projects/plone7_nick/tests/__init__.py
  templates/projects/plone7_nick/tests/conftest.py
  templates/projects/plone7_nick/tests/test_cutter.py
  templates/projects/plone7_nick/tests/test_variables.py
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/.gitignore
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/.prettierignore
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/README.md
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/babel.config.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/eslint.config.mjs
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/jsconfig.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/knexfile.ts
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/mrs.developer.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/package.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/events/index.ts
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/migrations/.keep
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/profiles/default/groups.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/profiles/default/metadata.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/profiles/default/users.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/tsconfig.json
  tests/cookieplone-templates/test_templates.py
  tests/templates/projects/plone7_nick/__init__.py
  tests/templates/projects/plone7_nick/conftest.py
  tests/templates/projects/plone7_nick/test_cutter.py
  tests/templates/projects/plone7_nick/test_variables.py
Owners: none

Update literals
  templates/projects/plone7_nick/README.md
  templates/projects/plone7_nick/cookieplone.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Update templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
Owners: @sneridagh

Use 'uvx towncrier' instead of 'pipx run towncrier' for release-it. fixes #404
  news/404.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
Owners: @sneridagh

Fixes default python version in Dockerfile (#397)
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  tests/templates/sub/project_settings/test_sub_project_settings_variables.py
Owners: @sneridagh

Use 'uvx towncrier' instead of 'pipx run towncrier' for release-it. fixes #404 (#405)
  news/404.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/.release-it.json
Owners: @sneridagh

Flexible docker image name generation depending on the container registry (#402)
  news/+flexible_image_naming.feature
  templates/add-ons/monorepo/cookieplone.json
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/devops/ansible/cookieplone.json
  templates/projects/classic/cookieplone.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/README-GHA.md
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/sub/addon_settings/cookieplone.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/cookieplone.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  tests/cookieplone-templates/test_templates.py
  tests/templates/add-ons/monorepo/test_monorepo_images.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_monorepo_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_project .py
  tests/templates/projects/classic/test_classic_images.py
  tests/templates/projects/monorepo/test_project_images.py
Owners: @pbauer, @ericof, @sneridagh

Remove full-icu of onlyBuiltDependencies
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
Owners: @sneridagh

Add changes
  news/406.internal
Owners: none

Adds extra [uv] to mxdev
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof

Add changes
  news/407.bugfix
Owners: none

Add is_classic property to project templates
  templates/projects/classic/cookieplone.json
  templates/projects/monorepo/cookieplone.json
Owners: @pbauer, @ericof

Add is_classic property to sub/project_settings/cookieplone.json
  templates/sub/project_settings/cookieplone.json
Owners: @sneridagh

Modernize and conditionalize sub/project_settings for Classic/Volto unification
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/scripts/create_site.py
Owners: @sneridagh

Switch classic_project to use unified sub/project_settings
  templates/projects/classic/cookieplone.json
  templates/projects/classic/hooks/post_gen_project.py
Owners: @pbauer

Remove obsolete sub/classic_project_settings template
  templates/sub/classic_project_settings/Makefile
  templates/sub/classic_project_settings/README.md
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/.dockerignore
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/README.md
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/scripts/create_site.py
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/__init__.py
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/__main__.py
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/{{ cookiecutter.__locales_language }}/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/{{ cookiecutter.python_package_name }}.pot
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles.zcml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/default/registry/plone.base.interfaces.controlpanel.IMailSchema.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/default/registry/plone.base.interfaces.controlpanel.ISiteSchema.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/default/registry/plone.i18n.interfaces.ILanguageSchema.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles/initial/metadata.xml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/.gitkeep
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/__metadata__.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/a58ccead718140c1baa98d43595fc3e6/data.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/a58ccead718140c1baa98d43595fc3e6/image/plone-foundation.png
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/a720393b3c0240e5bd27c43fcd2cfd1e/data.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/plone_site_root/data.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/discussions.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/portlets.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/principals.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/redirects.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/relations.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/translations.json
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/initial.py
Owners: none

Remove sub/classic_project_settings from cookieplone-config.json
  cookieplone-config.json
Owners: none

Fix inconsistencies and test expectations for unified project settings
  templates/projects/classic/cookieplone.json
  templates/sub/project_settings/cookieplone.json
  tests/templates/projects/classic/test_classic_variables.py
Owners: @pbauer, @sneridagh

Update tests to reflect unified project settings and removed sub-template
  tests/cookieplone-templates/test_templates.py
  tests/templates/projects/classic/test_classic_backend.py
Owners: none

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
