Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

changelog
  news/+plonecli.bugfix
Owners: none

Fix make help command in devops Makefile
  news/305.bugfix
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/Makefile
Owners: @ericof

feat: run tests in the tests folder inside the package in case the folder exists
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof, @sneridagh

changelog
  news/+testsinpackage.feature
Owners: none

Fixes issues with Projects created using Volto 19
  news/+volto19-project.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/packages/{{ cookiecutter.frontend_addon_name }}/package.json
Owners: @sneridagh

Fixes GitHub actions CI badges on the README.md file for a monorepo Project
  news/+monorepo-readme.documentation
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
Owners: @ericof

Fix test_package_settings tests
  tests/templates/projects/monorepo/test_project_frontend_package_json.py
Owners: none

Remove package.json from project_settings
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Fixes GHA frontend tests
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/frontend.yml
Owners: @ericof

Fixes repository URL in the frontend codebase
  templates/projects/monorepo/hooks/post_gen_project.py
Owners: @ericof

Remove unused variables
  templates/sub/project_settings/cookiecutter.json
Owners: @sneridagh

Fixes GitHub actions CI badges on the README.md file for a monorepo Project
  news/+monorepo-readme.documentation
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
Owners: @ericof

Update test_total_templates
  tests/cookieplone-templates/test_templates.py
Owners: none

Fixes issues with Projects created using Volto 19 (#319)
  news/+volto19-project.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/frontend.yml
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  tests/templates/projects/monorepo/test_project_frontend_package_json.py
Owners: @sneridagh, @ericof

Fix description on Ansible task block
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/tasks/docker/task_swarm.yml
Owners: none

feature: use native namespaces
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/templates/add-ons/backend/test_backend_cutter.py
  tests/templates/projects/classic/test_classic_backend.py
  tests/templates/projects/monorepo/test_project_backend.py
Owners: @ericof, @pbauer

Add news entry
  news/321.breaking
Owners: none

Python native namespaces (#322)
  news/321.breaking
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/templates/add-ons/backend/test_backend_cutter.py
  tests/templates/projects/classic/test_classic_backend.py
  tests/templates/projects/monorepo/test_project_backend.py
Owners: @ericof, @pbauer

removed dev from backend accceptance commands
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
Owners: @ericof

news entry
  news/121.bugfix
Owners: none

Update news/121.bugfix
  news/121.bugfix
Owners: none

Fixed CI changes
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
Owners: @ericof

Added an ETL codebase template using collective.transmute
  Makefile
  cookiecutter.json
  news/+transmute_template.feature
  templates/migration/transmute/.gitignore
  templates/migration/transmute/Makefile
  templates/migration/transmute/README.md
  templates/migration/transmute/cookiecutter.json
  templates/migration/transmute/hooks/post_gen_project.py
  templates/migration/transmute/hooks/pre_gen_project.py
  templates/migration/transmute/hooks/pre_prompt.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/.env_dist
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/.gitignore
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/.vscode/extensions.json
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/.vscode/settings.json
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/LICENSE.GPL
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/LICENSE.md
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/Makefile
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/README.md
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/data/.gitkeep
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/logs/.gitkeep
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/pyproject.toml
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/reports/.gitkeep
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/scripts/reports_as_csv.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/__init__.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/prepare/__init__.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/processors/__init__.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/processors/collection.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/steps/__init__.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/utils/__init__.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/src/packagename/utils/querystring.py
  templates/migration/transmute/{{ cookiecutter.__folder_name }}/transmute.toml
  tests/cookieplone-templates/test_templates.py
  tests/templates/migration/transmute/__init__.py
  tests/templates/migration/transmute/conftest.py
  tests/templates/migration/transmute/test_transmute_cutter.py
  tests/templates/migration/transmute/test_transmute_variables.py
Owners: none

Catalog support for 19 builds.
  news/+catalogSupport.feature
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.pnpmfile.cjs
Owners: @sneridagh

feat: create a domain-manual.pot file and use it when building the po file
  news/+manual.feature
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/locales/__main__.py
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/locales/{{ cookiecutter.python_package_name }}-manual.pot
Owners: @ericof

manual fle
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/locales/__main__.py
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/locales/{{ cookiecutter.python_package_name }}-manual.pot
Owners: @ericof

Replace the usage of from Products.CMFPlone.interfaces import INonInstallable by from plone.base.interfaces.installable import INonInstallable in the backend add-on template. Fixes #327
  news/327.bugfix
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/setuphandlers/__init__.py
Owners: @ericof

Remove unused namespace definition from permissions.zcml
  news/+zcmlCleanup.internal
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/permissions.zcml
Owners: @ericof

Recursively find addons in the workspace
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
Owners: @sneridagh

Add Changelog entry
  news/+recursive_workspaces.bugfix
Owners: none

Fix repository.toml frontend.package.path setting for scoped packages. Closes #331
  news/331.bugfix
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  tests/templates/projects/monorepo/repository_toml/test_project_repository_toml_base.py
  tests/templates/projects/monorepo/repository_toml/test_project_repository_toml_scopped.py
Owners: @ericof

Fix repository.toml frontend.package.path setting for scoped packages. (#332)
  news/331.bugfix
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  tests/templates/projects/monorepo/repository_toml/test_project_repository_toml_base.py
  tests/templates/projects/monorepo/repository_toml/test_project_repository_toml_scopped.py
Owners: @ericof

Recursively find addons in the workspace (#330)
  news/+recursive_workspaces.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
Owners: @sneridagh

Implement gh_frontend_addon template
  cookiecutter.json
  news/333.feature
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/README.md
  templates/ci/gh_frontend_addon/.gitignore
  templates/ci/gh_frontend_addon/Makefile
  templates/ci/gh_frontend_addon/README.md
  templates/ci/gh_frontend_addon/cookiecutter.json
  templates/ci/gh_frontend_addon/hooks/post_gen_project.py
  templates/ci/gh_frontend_addon/hooks/pre_gen_project.py
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/instructions/docs.instructions.md
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/instructions/volto.instructions.md
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  tests/cookieplone-templates/test_templates.py
  tests/templates/add-ons/frontend/test_frontend_cutter.py
  tests/templates/ci/gh_frontend_addon/__init__.py
  tests/templates/ci/gh_frontend_addon/conftest.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_variables.py
  tests/templates/projects/monorepo/test_project_variables.py
Owners: @sneridagh, @ericof

Implement gh_backend_addon template
  cookiecutter.json
  templates/add-ons/backend/cookiecutter.json
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/README.md
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
  templates/ci/gh_backend_addon/.gitignore
  templates/ci/gh_backend_addon/Makefile
  templates/ci/gh_backend_addon/README.md
  templates/ci/gh_backend_addon/cookiecutter.json
  templates/ci/gh_backend_addon/hooks/post_gen_project.py
  templates/ci/gh_backend_addon/hooks/pre_gen_project.py
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/cookieplone-templates/test_templates.py
  tests/templates/add-ons/backend/conftest.py
  tests/templates/add-ons/backend/test_backend_variables.py
  tests/templates/ci/gh_backend_addon/__init__.py
  tests/templates/ci/gh_backend_addon/conftest.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_cutter.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_variables.py
Owners: @ericof, @pbauer

Implement gh_monorepo_addon template
  cookiecutter.json
  templates/ci/gh_backend_addon/cookiecutter.json
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_monorepo_addon/.gitignore
  templates/ci/gh_monorepo_addon/Makefile
  templates/ci/gh_monorepo_addon/README.md
  templates/ci/gh_monorepo_addon/cookiecutter.json
  templates/ci/gh_monorepo_addon/hooks/post_gen_project.py
  templates/ci/gh_monorepo_addon/hooks/pre_gen_project.py
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/instructions/docs.instructions.md
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/instructions/volto.instructions.md
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/docs.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  tests/cookieplone-templates/test_templates.py
  tests/templates/ci/gh_monorepo_addon/__init__.py
  tests/templates/ci/gh_monorepo_addon/conftest.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter_docs.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_variables.py
Owners: none

Implement gh_project template
  cookiecutter.json
  templates/ci/gh_project/.gitignore
  templates/ci/gh_project/Makefile
  templates/ci/gh_project/README.md
  templates/ci/gh_project/cookiecutter.json
  templates/ci/gh_project/hooks/post_gen_project.py
  templates/ci/gh_project/hooks/pre_gen_project.py
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/instructions/docs.instructions.md
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/instructions/volto.instructions.md
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/docs.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/manual_deploy.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/varnish.yml
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/backend.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/docs.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/frontend.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/main.yml
  templates/sub/cache/cookiecutter.json
  templates/sub/cache/{{ cookiecutter.__folder_name }}/.github/workflows/varnish.yml
  tests/cookieplone-templates/test_templates.py
  tests/templates/ci/gh_project/__init__.py
  tests/templates/ci/gh_project/conftest.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter_cache.py
  tests/templates/ci/gh_project/test_gh_project_cutter_deploy.py
  tests/templates/ci/gh_project/test_gh_project_cutter_docs.py
  tests/templates/ci/gh_project/test_gh_project_variables.py
  tests/templates/projects/monorepo/test_project_devops.py
  tests/templates/projects/monorepo/test_project_generation.py
Owners: @ericof

Implement gh_classic_project template
  cookiecutter.json
  templates/ci/gh_classic_project/.gitignore
  templates/ci/gh_classic_project/Makefile
  templates/ci/gh_classic_project/README.md
  templates/ci/gh_classic_project/cookiecutter.json
  templates/ci/gh_classic_project/hooks/post_gen_project.py
  templates/ci/gh_classic_project/hooks/pre_gen_project.py
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/instructions/docs.instructions.md
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/docs.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/manual_deploy.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/rtd-pr-preview.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/varnish.yml
  templates/projects/classic/cookiecutter.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/classic/{{ cookiecutter.__folder_name }}/.github/workflows/backend.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/.github/workflows/docs.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/.github/workflows/main.yml
  tests/cookieplone-templates/test_templates.py
  tests/templates/ci/gh_classic_project/__init__.py
  tests/templates/ci/gh_classic_project/conftest.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_cache.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_deploy.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter_docs.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_variables.py
  tests/templates/projects/classic/test_classic_generation.py
Owners: @pbauer

Fix tests
  cookiecutter.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Update changelog
  news/+llm.feature
  news/333.feature
Owners: none

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
