Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

Add conditional support for onlyBuiltDependencies in package.json of projects for Volto 19+
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/package.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Changes
  news/299.internal
Owners: none

Pin frontend package versions in image build
  news/+pnpm-lock.bugfix
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
Owners: @sneridagh

Support TS by default
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/cypress/support/index.ts
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/cypress/tsconfig.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/support/index.ts
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/tsconfig.json
Owners: @sneridagh

Added Node 24 to the list of supported Node.js versions
  templates/add-ons/frontend/hooks/pre_prompt.py
Owners: @sneridagh

Add a workflow for testing prerelease versions
  .github/workflows/main.yml
Owners: @ericof

Last updates
  .github/workflows/main.yml
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/frontend_project/cookiecutter.json
  templates/sub/project_settings/cookiecutter.json
Owners: @ericof, @sneridagh

Fix json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
Owners: @sneridagh

Changelog
  news/+Volto19support.feature
Owners: none

Update dependencies
  pyproject.toml
  uv.lock
Owners: none

Add changes
  news/303.internal
Owners: none

Fix json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
Owners: @sneridagh

Changelog
  news/302.feature
Owners: none

Fix tests
  tests/templates/add-ons/frontend/test_frontend_package_json.py
Owners: none

Fixed Dockerfile build command because pnpm complains about ERR_PNPM_ABORTED_REMOVE_MODULES_DIR_NO_TTY
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
Owners: @sneridagh

Changelog
  news/pnpm10build.bugfix
Owners: none

Try to make the cypress install more resilient
  .github/workflows/main.yml
Owners: @ericof

fix broken devops/Makefile help generation expression
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/Makefile
Owners: @ericof

Changelog
  news/+pnpm10build.bugfix
Owners: none

fix again
  .github/workflows/main.yml
Owners: @ericof

Explicitly ask for a configuration version
  templates/add-ons/backend/cookiecutter.json
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/.gitignore
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/templates/projects/classic/test_classic_variables.py
  tests/templates/projects/monorepo/test_project_variables.py
Owners: @ericof

Update frontend addon
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/frontend/hooks/pre_prompt.py
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/cypress/support/index.ts
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/cypress/tsconfig.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/vitest.config.mjs
  tests/templates/add-ons/frontend/test_frontend_package_json.py
Owners: @sneridagh

Remove language setting from add-on
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/de/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/es/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/eu/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/it/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/locales/pt_BR/LC_MESSAGES/{{ cookiecutter.python_package_name }}.po
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/packages/{{ cookiecutter.frontend_addon_name }}/src/config/settings.ts
Owners: none

Update pnpm
  templates/add-ons/monorepo/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/project_settings/cookiecutter.json
Owners: @ericof, @sneridagh

Add `.mxdev_cache` to .gitignore in backend addons
  news/307.bugfix
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/.gitignore
  tests/templates/add-ons/backend/conftest.py
  tests/templates/add-ons/backend/test_backend_cutter.py
Owners: @ericof

Monorepo add-ons should use mxdev + base docker images
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
Owners: none

Babel preset in .npmrc compat for 19
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.npmrc
Owners: @sneridagh

Changelog
  news/309.feature
Owners: none

Update postgres version
  templates/add-ons/monorepo/cookiecutter.json
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/classic/cookiecutter.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
Owners: @pbauer, @ericof

Fix frontend installation
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Fixes to frontend
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Support for `razzle-scss-plugin` in core
  news/+scssrazzlepluginincore.feature
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.storybook/main.js
Owners: @sneridagh

Fix another import from razzle
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/.storybook/main.js
Owners: @sneridagh

Changelog
  news/+fixrazzleimportinstorybook.bugfix
Owners: none

Fix preset name in frontend scaffold to support the new razzle fork
  news/+morerazzlefixes.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/babel.config.js
Owners: @sneridagh

Revert "Fix preset name in frontend scaffold to support the new razzle fork"
  news/+morerazzlefixes.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/babel.config.js
Owners: @sneridagh

Fix preset name in frontend scaffold to support the new razzle fork
  news/+morerazzlefixes.bugfix
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/babel.config.js
Owners: @sneridagh

Amend to support 19 and 18
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/babel.config.js
Owners: @sneridagh

feat: add the xmls:i18n domain definition
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/src/packagename/profiles/default/controlpanel.xml
Owners: @ericof

more plonecli compat
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
