Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh

fix the condition for repository.toml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
Owners: @ericof

Make managed by uv true
  templates/add-ons/backend/cookieplone.json
Owners: @ericof

Fix conditional visibility of Volto variables using Dual allOf pattern
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

Finalize promotion pattern and ordering for conditional Volto questions
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

Fix the mxdev call and ordering
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

fix
  tests/cookieplone-templates/test_templates.py
Owners: none

remove unneeded
  tests/templates/projects/classic/test_classic_images.py
Owners: none

document different ways of having development addons: filesystem and frontend/backend addon
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/mx.ini
Owners: @ericof

fix
  tests/templates/projects/monorepo/test_project_classic.py
Owners: none

fix tests
  tests/templates/projects/monorepo/test_project_images.py
  tests/templates/projects/monorepo/test_project_variables.py
Owners: none

Restore main-package in mx.ini to fix backend-functional tests
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/mx.ini
Owners: @ericof

mark permissions: contents: write to allow pushing the storybook to GH Pages
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
Owners: none

reorder questions and fix wording on gating question about frontend
  templates/add-ons/backend/cookieplone.json
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

add running mxdev when building the docker image
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
Owners: @sneridagh

fix: add trailing comma
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

fix
  templates/projects/monorepo/cookieplone.json
Owners: @ericof

fix dockerfile generation
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
Owners: @sneridagh

remove requirements-mxdev.txt as it is not needed anymore
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @sneridagh

Update to latest Nick scaffold
  templates/projects/plone7_nick/tests/test_cutter.py
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/config.ts
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/eslint.config.mjs
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/eslint.config.ts
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/jsconfig.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/knexfile.ts
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/mrs.developer.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/package.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/events/index.ts
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/migrations/.keep
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/src/profiles/default/documents/_root.json
  templates/projects/plone7_nick/{{ cookiecutter.__folder_name }}/tsconfig.json
  tests/templates/projects/plone7_nick/test_cutter.py
Owners: none

Recommend ms-python.vscode-python-envs and set python-envs.workspaceSearchPaths
  news/428.feature
  templates/ide/vscode/cookieplone.json
  templates/ide/vscode/hooks/post_gen_project.py
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/extensions.json
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/settings.json
  tests/templates/ide/vscode/test_ide_vscode_cutter_backend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_classic_project.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_frontend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_monorepo_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_project .py
Owners: none

Improve storybook-deploy checking in CI workflows
  news/430.feature
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
Owners: none

Fix node-version reference in storybook job of frontend.yml workflows
  news/431.bugfix
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/projects/monorepo/test_project_devops.py
Owners: none

VSCode python-envs, storybook-deploy checking, and frontend.yml node-version fixes (#434)
  news/428.feature
  news/430.feature
  news/431.bugfix
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ide/vscode/cookieplone.json
  templates/ide/vscode/hooks/post_gen_project.py
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/extensions.json
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/settings.json
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_backend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_classic_project.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_frontend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_monorepo_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_project .py
  tests/templates/projects/monorepo/test_project_devops.py
Owners: none

Coerce storybook-deploy output to a boolean in CI workflows
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
Owners: none

Define missing IMAGE_NAME_PREFIX in frontend add-on Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
Owners: none

Grant contents: write to storybook jobs in CI workflows
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/main.yml
Owners: none

Fix Title
  templates/projects/plone7_nick/cookieplone.json
Owners: none

Add Volto Nick functional CI
  .github/tests/volto-nick.spec.js
  .github/workflows/main.yml
  news/+volto_nick_functional_ci.tests
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

Fix install
  templates/projects/volto_nick/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/projects/volto_nick/{{ cookiecutter.__folder_name }}/backend/package.json
Owners: none

Simplify the Changelog workflows of every CI template
  news/429.feature
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_monorepo_addon/cookieplone.json
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_project/cookieplone.json
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/templates/ci/__init__.py
  tests/templates/ci/changelog.py
  tests/templates/ci/conftest.py
  tests/templates/ci/gh_backend_addon/conftest.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_changelog.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_cutter.py
  tests/templates/ci/gh_classic_project/conftest.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_changelog.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_frontend_addon/conftest.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_changelog.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/conftest.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_changelog.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/conftest.py
  tests/templates/ci/gh_project/test_gh_project_changelog.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/conftest.py
  tests/templates/sub/addon_settings/test_sub_addon_settings_changelog.py
  tests/templates/sub/classic_project_settings/test_sub_classic_project_settings_changelog.py
  tests/templates/sub/project_settings/test_sub_project_settings_changelog.py
Owners: @ericof

Generate dependabot.yml under .github
  news/436.bugfix
  templates/ci/gh_backend_addon/{{ cookiecutter.__folder_name }}/dependabot.yml
  templates/ci/gh_classic_project/{{ cookiecutter.__folder_name }}/dependabot.yml
  templates/ci/gh_frontend_addon/{{ cookiecutter.__folder_name }}/dependabot.yml
  templates/ci/gh_monorepo_addon/{{ cookiecutter.__folder_name }}/dependabot.yml
  templates/ci/gh_project/{{ cookiecutter.__folder_name }}/dependabot.yml
  tests/templates/add-ons/monorepo/test_monorepo_cutter.py
  tests/templates/ci/gh_backend_addon/test_gh_backend_addon_cutter.py
  tests/templates/ci/gh_classic_project/test_gh_classic_project_cutter.py
  tests/templates/ci/gh_frontend_addon/test_gh_frontend_addon_cutter.py
  tests/templates/ci/gh_monorepo_addon/test_gh_monorepo_addon_cutter.py
  tests/templates/ci/gh_project/test_gh_project_cutter.py
  tests/templates/projects/classic/test_classic_generation.py
  tests/templates/projects/monorepo/test_project_generation.py
Owners: none

Add Dependabot configuration for GitHub Actions
  .github/dependabot.yml
  news/437.internal
Owners: @ericof

Add Dependabot configuration for GitHub Actions (#438)
  .github/dependabot.yml
  news/437.internal
Owners: @ericof

Force build
  templates/projects/volto_nick/README.md
Owners: none

Approve deps
  templates/projects/volto_nick/{{ cookiecutter.__folder_name }}/backend/package.json
  templates/projects/volto_nick/{{ cookiecutter.__folder_name }}/backend/pnpm-workspace.yaml
Owners: none

Better CI
  .github/tests/volto-nick.test.js
  .github/workflows/main.yml
  news/+background_action_v2.internal
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

CI templates for the volto_nick template
  cookieplone-config.json
  news/+volto_nick_ci.feature
  templates/ci/gh_volto_nick/Makefile
  templates/ci/gh_volto_nick/README.md
  templates/ci/gh_volto_nick/cookieplone.json
  templates/ci/gh_volto_nick/hooks/post_gen_project.py
  templates/ci/gh_volto_nick/hooks/pre_prompt.py
  templates/ci/gh_volto_nick/{{ cookiecutter.__folder_name }}/dependabot.yml
  templates/ci/gh_volto_nick/{{ cookiecutter.__folder_name }}/workflows/backend.yml
  templates/ci/gh_volto_nick/{{ cookiecutter.__folder_name }}/workflows/changelog.yml
  templates/ci/gh_volto_nick/{{ cookiecutter.__folder_name }}/workflows/config.yml
  templates/ci/gh_volto_nick/{{ cookiecutter.__folder_name }}/workflows/frontend.yml
  templates/ci/gh_volto_nick/{{ cookiecutter.__folder_name }}/workflows/main.yml
  templates/projects/volto_nick/cookieplone.json
  templates/projects/volto_nick/hooks/post_gen_project.py
  templates/projects/volto_nick/tests/test_cutter.py
  templates/projects/volto_nick/tests/test_variables.py
  tests/cookieplone-templates/test_templates.py
  tests/templates/ci/gh_volto_nick/__init__.py
  tests/templates/ci/gh_volto_nick/conftest.py
  tests/templates/ci/gh_volto_nick/test_gh_volto_nick_changelog.py
  tests/templates/ci/gh_volto_nick/test_gh_volto_nick_cutter.py
  tests/templates/ci/gh_volto_nick/test_gh_volto_nick_variables.py
  tests/templates/projects/volto_nick/test_cutter.py
  tests/templates/projects/volto_nick/test_variables.py
Owners: none

Run Aurora functional test in production mode
  .github/workflows/main.yml
  tests/cookieplone-templates/test_workflows.py
Owners: @ericof

Mark Aurora Nick template as alpha
  cookieplone-config.json
  templates/projects/aurora_nick/README.md
  templates/projects/aurora_nick/cookieplone.json
  templates/projects/aurora_nick/tests/conftest.py
  tests/cookieplone-templates/test_templates.py
  tests/templates/projects/aurora_nick/conftest.py
Owners: none

.vault_pass.txt was renamed to .vault_pass (#440)
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/.gitignore
Owners: none
