Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

Revert "Next: Migrate projects/monorepo to cookieplone v2 schema (#360)"
  .github/workflows/main.yml
  .gitignore
  .scripts/report_context.py
  .scripts/report_keys_usage.py
  cookiecutter.json
  news/357.internal
  news/359.feature
  pyproject.toml
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/pre_gen_project.py
  templates/projects/monorepo/hooks/pre_prompt.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  tests/conftest.py
  tests/cookieplone-templates/conftest.py
  tests/cookieplone-templates/test_required_variables.py
  tests/templates/projects/classic/test_classic_repository_toml.py
  tests/templates/projects/monorepo/conftest.py
  uv.lock
Owners: @ericof

Next: Migrate projects/monorepo to cookieplone v2 schema (#361)
  .gitignore
  .scripts/report_context.py
  .scripts/report_keys_usage.py
  cookiecutter.json
  news/359.feature
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/cookieplone.json
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/pre_gen_project.py
  templates/projects/monorepo/hooks/pre_prompt.py
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  tests/conftest.py
  tests/cookieplone-templates/conftest.py
  tests/cookieplone-templates/test_required_variables.py
  tests/templates/projects/monorepo/conftest.py
  uv.lock
Owners: @ericof

Next: Migrate add-ons/monorepo and sub/addon_settings to cookieplone v2 schema
  news/362.feature
  templates/add-ons/monorepo/cookiecutter.json
  templates/add-ons/monorepo/cookieplone.json
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/pre_gen_project.py
  templates/add-ons/monorepo/hooks/pre_prompt.py
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/addon_settings/cookieplone.json
  templates/sub/addon_settings/hooks/pre_gen_project.py
Owners: none

Next: Migrate add-ons/monorepo and sub/addon_settings to cookieplone v2 schema (#363)
  news/362.feature
  templates/add-ons/monorepo/cookiecutter.json
  templates/add-ons/monorepo/cookieplone.json
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/pre_gen_project.py
  templates/add-ons/monorepo/hooks/pre_prompt.py
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/add-ons/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  templates/sub/addon_settings/cookiecutter.json
  templates/sub/addon_settings/cookieplone.json
  templates/sub/addon_settings/hooks/pre_gen_project.py
Owners: none

Re-word and review template naming
  cookieplone-config.json
Owners: none

Fix tests
  tests/cookieplone-templates/test_templates.py
Owners: none

Fix tests
  cookieplone-config.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Re-word and review template naming (#372)
  cookieplone-config.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Next: Migrate agents/instructions and ide/vscode to cookieplone v2 schema
  Makefile
  news/365.feature
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/seven_addon/hooks/post_gen_project.py
  templates/agents/instructions/cookiecutter.json
  templates/agents/instructions/cookieplone.json
  templates/agents/instructions/hooks/pre_gen_project.py
  templates/ide/vscode/cookiecutter.json
  templates/ide/vscode/cookieplone.json
  templates/ide/vscode/hooks/post_gen_project.py
  templates/ide/vscode/hooks/pre_gen_project.py
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/launch.json
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/settings.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/templates/ide/vscode/conftest.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_backend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_classic_project.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_frontend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_monorepo_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_project .py
Owners: @ericof, @sneridagh, @pbauer

Next: Migrate agents/instructions and ide/vscode to cookieplone v2 schema (#375)
  Makefile
  news/365.feature
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/seven_addon/hooks/post_gen_project.py
  templates/agents/instructions/cookiecutter.json
  templates/agents/instructions/cookieplone.json
  templates/agents/instructions/hooks/pre_gen_project.py
  templates/ide/vscode/cookiecutter.json
  templates/ide/vscode/cookieplone.json
  templates/ide/vscode/hooks/post_gen_project.py
  templates/ide/vscode/hooks/pre_gen_project.py
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/launch.json
  templates/ide/vscode/{{ cookiecutter.__folder_name }}/settings.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  tests/templates/ide/vscode/conftest.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_backend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_classic_project.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_frontend_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_monorepo_addon.py
  tests/templates/ide/vscode/test_ide_vscode_cutter_project .py
Owners: @ericof, @sneridagh, @pbauer

Next: Migrate sub-templates to cookieplone v2 schema
  news/366.feature
  templates/projects/classic/cookiecutter.json
  templates/sub/cache/cookiecutter.json
  templates/sub/cache/cookieplone.json
  templates/sub/cache/hooks/pre_gen_project.py
  templates/sub/cache/{{ cookiecutter.__folder_name }}/devops/varnish/Dockerfile
  templates/sub/classic_project_settings/cookiecutter.json
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/hooks/pre_gen_project.py
  templates/sub/frontend_project/cookiecutter.json
  templates/sub/frontend_project/cookieplone.json
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/cookieplone.json
  templates/sub/project_settings/hooks/pre_gen_project.py
Owners: @pbauer, @ericof, @sneridagh

Next: Migrate sub-templates to cookieplone v2 schema (#376)
  news/366.feature
  templates/projects/classic/cookiecutter.json
  templates/sub/cache/cookiecutter.json
  templates/sub/cache/cookieplone.json
  templates/sub/cache/hooks/pre_gen_project.py
  templates/sub/cache/{{ cookiecutter.__folder_name }}/devops/varnish/Dockerfile
  templates/sub/classic_project_settings/cookiecutter.json
  templates/sub/classic_project_settings/cookieplone.json
  templates/sub/classic_project_settings/hooks/pre_gen_project.py
  templates/sub/frontend_project/cookiecutter.json
  templates/sub/frontend_project/cookieplone.json
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/cookieplone.json
  templates/sub/project_settings/hooks/pre_gen_project.py
Owners: @pbauer, @ericof, @sneridagh

Next: Migrate devops/ansible to cookieplone v2 schema
  news/367.feature
  templates/devops/ansible/cookiecutter.json
  templates/devops/ansible/cookieplone.json
  templates/devops/ansible/hooks/pre_gen_project.py
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/inventory/group_vars/all/stacks.yml
Owners: none

Next: Migrate devops/ansible to cookieplone v2 schema (#377)
  news/367.feature
  templates/devops/ansible/cookiecutter.json
  templates/devops/ansible/cookieplone.json
  templates/devops/ansible/hooks/pre_gen_project.py
  templates/devops/ansible/{{ cookiecutter.__folder_name }}/inventory/group_vars/all/stacks.yml
Owners: none

Next: Migrate docs/starter to cookieplone v2 schema
  news/368.feature
  templates/docs/starter/cookiecutter.json
  templates/docs/starter/cookieplone.json
  templates/docs/starter/hooks/pre_gen_project.py
Owners: @ericof

Next: Migrate docs/starter to cookieplone v2 schema (#378)
  news/368.feature
  templates/docs/starter/cookiecutter.json
  templates/docs/starter/cookieplone.json
  templates/docs/starter/hooks/pre_gen_project.py
Owners: @ericof

Next: Migrate projects/classic to cookieplone v2 schema
  news/370.feature
  templates/projects/classic/cookiecutter.json
  templates/projects/classic/cookieplone.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/classic/hooks/pre_gen_project.py
  templates/projects/classic/hooks/pre_prompt.py
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/docker-compose.yml
  tests/templates/projects/classic/conftest.py
Owners: @pbauer

Next: Migrate projects/classic to cookieplone v2 schema (#379)
  news/370.feature
  templates/projects/classic/cookiecutter.json
  templates/projects/classic/cookieplone.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/classic/hooks/pre_gen_project.py
  templates/projects/classic/hooks/pre_prompt.py
  templates/projects/classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/projects/classic/{{ cookiecutter.__folder_name }}/docker-compose.yml
  tests/templates/projects/classic/conftest.py
Owners: @pbauer

Plone 7 using Nick as BFF template working
  templates/add-ons/seven_nick_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_nick_addon/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
  templates/add-ons/seven_nick_addon/{{ cookiecutter.__folder_name }}/registry.config.ts
Owners: none

Missing merge
  cookieplone-config.json
Owners: none

Right config
  templates/add-ons/seven_nick_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/config/server.ts
Owners: none

No Volto version
  templates/add-ons/seven_nick_addon/cookiecutter.json
Owners: none

No Volto version in seven_addon either
  templates/add-ons/seven_addon/cookiecutter.json
Owners: none

just Nick in literals
  cookieplone-config.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Add profile loading in nick config
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/registry.config.ts
Owners: none

Added nick add-on scaffold with profile in it
  templates/projects/plone7_nick_bff/cookiecutter.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/package.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/content_rules.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/_root.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/events.event-1.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/events.event-2.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/events.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/news.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/users.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/groups.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/metadata.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/users.json
Owners: none

Keywords
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
Owners: none

Remove cypress from Plone 7 templates
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress.config.js
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/.gitkeep
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/support/commands.js
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/support/e2e.js
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/support/index.ts
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/tests/.gitkeep
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/tests/example.cy.js
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/cypress/tsconfig.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress.config.js
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/.gitkeep
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/support/commands.js
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/support/e2e.js
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/support/index.ts
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/tests/.gitkeep
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/tests/example.cy.js
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/cypress/tsconfig.json
Owners: none

Next: Migrate add-on templates to cookieplone v2 schema
  news/369.feature
  templates/add-ons/backend/cookiecutter.json
  templates/add-ons/backend/cookieplone.json
  templates/add-ons/backend/hooks/pre_gen_project.py
  templates/add-ons/backend/hooks/pre_prompt.py
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/cookieplone.json
  templates/add-ons/frontend/hooks/pre_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/seven_addon/cookiecutter.json
  templates/add-ons/seven_addon/cookieplone.json
  templates/add-ons/seven_addon/hooks/pre_gen_project.py
  templates/add-ons/seven_addon/tests/conftest.py
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  tests/templates/add-ons/backend/conftest.py
  tests/templates/add-ons/seven_addon/__init__.py
  tests/templates/add-ons/seven_addon/conftest.py
  tests/templates/add-ons/seven_addon/test_seven_addon_cutter.py
  tests/templates/add-ons/seven_addon/test_seven_addon_variables.py
Owners: @ericof, @sneridagh, @pbauer

Next: Migrate add-on templates to cookieplone v2 schema (#381)
  news/369.feature
  templates/add-ons/backend/cookiecutter.json
  templates/add-ons/backend/cookieplone.json
  templates/add-ons/backend/hooks/pre_gen_project.py
  templates/add-ons/backend/hooks/pre_prompt.py
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/cookieplone.json
  templates/add-ons/frontend/hooks/pre_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/seven_addon/cookiecutter.json
  templates/add-ons/seven_addon/cookieplone.json
  templates/add-ons/seven_addon/hooks/pre_gen_project.py
  templates/add-ons/seven_addon/tests/conftest.py
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  tests/templates/add-ons/backend/conftest.py
  tests/templates/add-ons/seven_addon/__init__.py
  tests/templates/add-ons/seven_addon/conftest.py
  tests/templates/add-ons/seven_addon/test_seven_addon_cutter.py
  tests/templates/add-ons/seven_addon/test_seven_addon_variables.py
Owners: @ericof, @sneridagh, @pbauer

Proposal of main default example content page
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/package.json
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}-nick/profiles/default/documents/_root.json
Owners: none

Next: Migrate add-on templates to cookieplone v2 schema (#381)
  news/369.feature
  templates/add-ons/backend/cookiecutter.json
  templates/add-ons/backend/cookieplone.json
  templates/add-ons/backend/hooks/pre_gen_project.py
  templates/add-ons/backend/hooks/pre_prompt.py
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/cookieplone.json
  templates/add-ons/frontend/hooks/pre_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/seven_addon/cookiecutter.json
  templates/add-ons/seven_addon/cookieplone.json
  templates/add-ons/seven_addon/hooks/pre_gen_project.py
  templates/add-ons/seven_addon/tests/conftest.py
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Dockerfile
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  tests/templates/add-ons/backend/conftest.py
  tests/templates/add-ons/seven_addon/__init__.py
  tests/templates/add-ons/seven_addon/conftest.py
  tests/templates/add-ons/seven_addon/test_seven_addon_cutter.py
  tests/templates/add-ons/seven_addon/test_seven_addon_variables.py
Owners: @ericof, @sneridagh, @pbauer

Fix seven_addon tests after merge with next
  tests/templates/add-ons/seven_addon/test_seven_addon_cutter.py
Owners: none

Update title and desc
  cookieplone-config.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Update post_gen information
  templates/projects/plone7_nick_bff/hooks/post_gen_project.py
Owners: none

Fix nick, add support for vite.extend
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/.gitignore
  templates/projects/plone7_nick_bff/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/vite.extend.ts
Owners: none

Add renderer configuration to cookieplone-config.json
  cookieplone-config.json
  news/+config-renderer.feature
Owners: none

Add min_version configuration to cookieplone-config.json
  cookieplone-config.json
  news/+config-min-version.feature
Owners: none

Use cookieplone 2.0.0a2 as default dependency
  hooks/pre_prompt.py
  news/383.internal
  pyproject.toml
  uv.lock
Owners: none

Refactor post-gen hooks to use cookieplone 2.0.0a2 utilities
  news/+post_gen_hooks_refactor.internal
  templates/add-ons/backend/hooks/post_gen_project.py
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/monorepo/hooks/post_gen_project.py
  templates/add-ons/seven_addon/hooks/post_gen_project.py
  templates/agents/instructions/hooks/post_gen_project.py
  templates/ci/gh_backend_addon/hooks/post_gen_project.py
  templates/ci/gh_classic_project/hooks/post_gen_project.py
  templates/ci/gh_frontend_addon/hooks/post_gen_project.py
  templates/ci/gh_monorepo_addon/hooks/post_gen_project.py
  templates/ci/gh_project/hooks/post_gen_project.py
  templates/devops/ansible/hooks/post_gen_project.py
  templates/docs/starter/hooks/post_gen_project.py
  templates/ide/vscode/hooks/post_gen_project.py
  templates/projects/classic/hooks/post_gen_project.py
  templates/projects/monorepo/hooks/post_gen_project.py
  templates/sub/cache/hooks/post_gen_project.py
  templates/sub/frontend_project/hooks/post_gen_project.py
  templates/sub/project_settings/hooks/post_gen_project.py
Owners: @ericof, @sneridagh, @pbauer

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
