Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

.github/CODEOWNERS:

/backend_addon/ @ericof
/frontend_addon/ @sneridagh
/project/ @ericof
/project_classic/ @pbauer
/sub/cache/ @ericof
/sub/frontend_project/ @sneridagh
/sub/project_settings/ @sneridagh

adapt docker swarm stack to classic
  project_classic/{{ cookiecutter.__folder_name }}/devops/README.md
  project_classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
Owners: @pbauer

remove remnants of volto/frontend from project_classic
  backend_addon/{{ cookiecutter.__folder_name }}/MANIFEST.in
  project_classic/{{ cookiecutter.__folder_name }}/.vscode/settings.json
  project_classic/{{ cookiecutter.__folder_name }}/README.md
  project_classic/{{ cookiecutter.__folder_name }}/devops/Makefile
  project_classic/{{ cookiecutter.__folder_name }}/devops/README-GHA.md
  project_classic/{{ cookiecutter.__folder_name }}/devops/README.md
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/examplecontent/content/plone_site_root/data.json
Owners: @ericof, @pbauer, @sneridagh

fix some Jinja whitespace handling
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/scripts/create_site.py
Owners: @sneridagh

remove plone.restapi from project_classic
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Dockerfile.acceptance
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/setup.py
Owners: @sneridagh

fix #153 - ClassciUI Traefik Basic Auth masks Zope app root Basis Auth
  project/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
Owners: @ericof

add a distribution
  backend_addon/cookiecutter.json
  backend_addon/hooks/post_gen_project.py
  backend_addon/{{ cookiecutter.__folder_name }}/src/packagename/configure.zcml
  backend_addon/{{ cookiecutter.__folder_name }}/src/packagename/distributions/{{ cookiecutter.__distribution_name }}/content/.gitkeep
  backend_addon/{{ cookiecutter.__folder_name }}/src/packagename/distributions/{{ cookiecutter.__distribution_name }}/profiles.json
Owners: @ericof

wording
  README.md
  cookiecutter.json
  project_classic/README.md
Owners: @pbauer

fix prod stack
  project_classic/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
Owners: @pbauer

somehow non-classic has plone.app.robotframework available but classic does now
  sub/project_settings/{{ cookiecutter.__folder_name }}/backend/setup.py
Owners: @sneridagh

Update project/README.md
  project/README.md
Owners: @ericof

Fix in local docker-compose stack also
  project/{{ cookiecutter.__folder_name }}/docker-compose.yml
Owners: @ericof

make traefik optional
  project/cookiecutter.json
  project/tests/conftest.py
  project/{{ cookiecutter.__folder_name }}/devops/Makefile
  project/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  project/{{ cookiecutter.__folder_name }}/docker-compose.yml
Owners: @ericof

fail the build job if there is an error in the build process
  project/{{ cookiecutter.__folder_name }}/.gitlab-ci.yml
Owners: @ericof

use a new variable for the image separator coming from cookieplone
  project/cookiecutter.json
  project/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
Owners: @ericof

Fix wording of the generator signature message
  backend_addon/cookiecutter.json
  backend_addon/{{ cookiecutter.__folder_name }}/README.md
  frontend_addon/cookiecutter.json
  frontend_addon/{{ cookiecutter.__folder_name }}/README.md
  project/cookiecutter.json
  project/{{ cookiecutter.__folder_name }}/README.md
Owners: @ericof, @sneridagh

fix stack-create-site
  project/{{ cookiecutter.__folder_name }}/Makefile
Owners: @ericof

Update project/cookiecutter.json
  project/cookiecutter.json
Owners: @ericof

Update project cookiecutter.json precise organization prompt
  project/cookiecutter.json
Owners: @ericof

Run CI for pull requests from forks
  .github/workflows/all_templates.yml
  .github/workflows/backend_addon.yml
  .github/workflows/frontend_addon.yml
  .github/workflows/project.yml
  .github/workflows/sub_cache.yml
  .github/workflows/sub_frontend_project.yml
  .github/workflows/sub_project_settings.yml
Owners: none

Auto-update Copyright Year in LICENSE.md
  backend_addon/cookiecutter.json
  backend_addon/{{ cookiecutter.__folder_name }}/LICENSE.md
Owners: @ericof

Update name of the package
  seven_addon/{{ cookiecutter.__folder_name }}/package.json
Owners: none

more referenced to the old name
  seven_addon/{{ cookiecutter.__folder_name }}/registry.config.ts
Owners: none

Add corepack workaround in more places
  frontend_addon/{{ cookiecutter.__folder_name }}/.github/workflows/acceptance.yml
  frontend_addon/{{ cookiecutter.__folder_name }}/.github/workflows/changelog.yml
  frontend_addon/{{ cookiecutter.__folder_name }}/.github/workflows/code.yml
  frontend_addon/{{ cookiecutter.__folder_name }}/.github/workflows/i18n.yml
  frontend_addon/{{ cookiecutter.__folder_name }}/.github/workflows/storybook.yml
  frontend_addon/{{ cookiecutter.__folder_name }}/.github/workflows/unit.yml
  project/{{ cookiecutter.__folder_name }}/.github/workflows/frontend.yml
  sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Dockerfile
Owners: @sneridagh, @ericof
