Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

Add vitest, remove all JEST traces
  templates/add-ons/seven_addon/cookiecutter.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
Owners: none

Missing line in Dockerfile
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Dockerfile
Owners: none

Refactor monorepo
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/pyproject.toml
  templates/projects/classic/cookiecutter.json
  templates/projects/classic/{{ cookiecutter.__folder_name }}/repository.toml
  templates/projects/monorepo/cookiecutter.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/config.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/docs.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/main.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/manual_deploy.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/README.md
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/repository.toml
  templates/sub/cache/{{ cookiecutter.__folder_name }}/.github/workflows/varnish.yml
  templates/sub/classic_project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/hooks/post_gen_project.py
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/pyproject.toml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/profiles.zcml
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/src/packagename/setuphandlers/__init__.py
  tests/templates/projects/monorepo/test_project_backend.py
  tests/templates/sub/project_settings/test_sub_project_settings_cutter.py
Owners: @ericof, @pbauer, @sneridagh

Remove unused variables
  templates/sub/cache/cookiecutter.json
Owners: @ericof

WIP: We need to handle latest_volto not returning a valid value
  templates/projects/monorepo/cookiecutter.json
Owners: @ericof

Define encoding to be utf8, by default
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.vscode/settings.json
Owners: @ericof

GHA: Fix Varnish image creation permissions
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/main.yml
Owners: @ericof

GHA: Fix config file
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/config.yml
Owners: @ericof

GHA: Fix main file
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/main.yml
Owners: @ericof

Minor fixes to GHA
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/backend.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/frontend.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/manual_deploy.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.vscode/extensions.json
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/docker-compose.yml
  templates/sub/cache/{{ cookiecutter.__folder_name }}/.github/workflows/varnish.yml
Owners: @ericof

Fix Docker installation
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/tasks/base/task_docker.yml
Owners: @ericof

Fix tests
  Makefile
  cookiecutter.json
  tests/cookieplone-templates/test_templates.py
Owners: none

Changelog
  news/128.feature
Owners: none

Use the correct language code for Swedish
  news/288.bugfix
  templates/projects/classic/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
Owners: @pbauer, @ericof

Last adjustments
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/tsconfig.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/pnpm-workspace.yaml
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/registry.config.ts
Owners: none

Use repoplone to get project settings
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/.github/workflows/config.yml
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/Makefile
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/README-GHA.md
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
Owners: @ericof, @sneridagh

Refactor monorepo project to use uv and repoplone
  news/+monorepo.feature
Owners: none

add a pip locking versions functionality for backend addon instalation
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
Owners: @ericof

Use vitest or jest conditional on Volto version
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/hooks/post_gen_project.py
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/vitest.config.mjs
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Typo fixes
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
  templates/sub/project_settings/cookiecutter.json
Owners: @ericof, @sneridagh

Fix a typo
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
Owners: @ericof

Use Docker volume
  templates/projects/monorepo/{{ cookiecutter.__folder_name }}/devops/stacks/{{ cookiecutter.hostname }}.yml
Owners: @ericof

Use pnpm 10 for Volto 19
  templates/add-ons/frontend/cookiecutter.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/seven_addon/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/frontend_project/cookiecutter.json
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/package.json
  templates/sub/project_settings/cookiecutter.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh, @ericof

We need cypress to build too, maybe others?
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/package.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Added ambient file to support SVG ?react imports
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/types.d.ts
Owners: none

Remove no longer needed faked import support for ESlint file
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/.TODO-eslintrc.js
Owners: none

Changelog
  news/+icons_seven.feature
Owners: none

Fix running tests with --passWithNoTests
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/seven_addon/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
Owners: @sneridagh

Add changelog
  news/259.feature
Owners: none

Update ci-test and test commands for pnpm 10+ compatibility
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
Owners: @sneridagh

Update pnpm to 10.13.1
  templates/add-ons/frontend/cookiecutter.json
  templates/projects/monorepo/cookiecutter.json
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/package.json
  templates/sub/project_settings/cookiecutter.json
Owners: @sneridagh, @ericof

Update ignoredBuiltDependencies
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/package.json
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/package.json
Owners: @sneridagh

Update pnpm to 10.18.3
  news/259.feature
  templates/add-ons/frontend/cookiecutter.json
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/package.json
  templates/sub/project_settings/cookiecutter.json
Owners: @sneridagh

Updates cache keys of the frontend-functional job to invalidate the cache if package.json or cookiecutter.json are changed
  .github/workflows/main.yml
  news/294.internal
Owners: @ericof

Add link to cookiecutter-zope-instance
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/instance.yaml
Owners: @ericof

Uses package.json and mrs.developer.json from the generated package, in the cache key
  .github/workflows/main.yml
  news/294.internal
Owners: @ericof

Update cache keys in GitHub Actions workflow
  .github/workflows/main.yml
Owners: @ericof

Allow Node 24
  templates/add-ons/frontend/hooks/pre_prompt.py
  templates/add-ons/seven_addon/hooks/pre_prompt.py
Owners: @sneridagh

Add support for prerelease Volto versions in codebase generation
  .github/actions/generate/action.yml
Owners: @ericof

Add conditional support for onlyBuiltDependencies in package.json for Volto 19+
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
Owners: @sneridagh

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
