Repository plone/cookieplone-templates, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ericof, @sneridagh, @pbauer

fix(aurora): make runtime corepack step non-interactive and default AURORA_VERSION
  news/+aurora_frontend_image_corepack.bugfix
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Dockerfile
Owners: none

ci(aurora): disable setup-uv shared cache in acceptance job
  news/+aurora_acceptance_uv_lock.bugfix
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/acceptance.yml
Owners: none

fix(aurora): default AURORA_VERSION from aurora_version, not frontend_base_version
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Dockerfile
Owners: none

Skip the change log check for Dependabot pull requests
  .github/dependabot.yml
  .github/workflows/changelog.yml
  news/+dependabot-changelog.internal
Owners: @ericof

Remove next from the branches tested on main.yml
  .github/workflows/main.yml
Owners: @ericof

feat: use cookiecutter-zope-instance version 3.1.0
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof, @sneridagh

changelog
  news/+cookiecutter.feature
Owners: none

Audit config.versions and centralize the frontend pins
  cookieplone-config.json
  news/463.feature
  news/463.internal
  pyproject.toml
  templates/add-ons/frontend/cookieplone.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  tests/cookieplone-templates/test_versions.py
  tests/templates/add-ons/frontend/conftest.py
  tests/templates/add-ons/frontend/test_frontend_package_json.py
  tests/templates/projects/aurora_nick_embedded/conftest.py
  tests/templates/projects/monorepo/test_project_images.py
  uv.lock
Owners: @sneridagh

Source nick_backend toolchain versions from config.versions (#464)
  cookieplone-config.json
  news/464.bugfix
  templates/sub/nick_backend/{{ cookiecutter.__folder_name }}/package.json
  tests/templates/projects/volto_nick/test_cutter.py
  tests/templates/sub/nick_backend/test_sub_nick_backend_cutter.py
Owners: none

take the version from a centralized place
  cookieplone-config.json
  templates/add-ons/backend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/backend/Makefile
Owners: @ericof, @sneridagh

Rename Aurora add-on playwright config and drop stale providers build rule
  news/+aurora-playwright-config.internal
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/acceptance/README.md
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/playwright.config.ts
  templates/ci/gh_aurora_cmfplone/{{ cookiecutter.__folder_name }}/workflows/acceptance.yml
Owners: none

Fix meta-CI aurora smoke tests after playwright config rename
  .github/tests/playwright.smoke.config.cjs
  .github/workflows/main.yml
Owners: @ericof

fix duplicate passWithNoTests flag
  news/469.bugfix
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Makefile
  templates/add-ons/frontend/{{ cookiecutter.__folder_name }}/Makefile
  templates/sub/addon_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
  templates/sub/frontend_project/{{ cookiecutter.__folder_name }}/_project_files/Makefile
  templates/sub/project_settings/{{ cookiecutter.__folder_name }}/frontend/Makefile
Owners: @sneridagh

Build @plone/icons and @plone/quanta in the Aurora add-on build-deps
  news/+aurora-addon-icons-quanta.bugfix
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/Makefile
Owners: none

Use @plone/icons for the SVG types in the Aurora add-on
  news/+aurora-addon-icons-svg.feature
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/package.json
  templates/add-ons/aurora_addon/{{ cookiecutter.__folder_name }}/packages/{{ cookiecutter.frontend_addon_name }}/types.d.ts
Owners: none

Fix sub/frontend_project hook path to the add-ons/frontend template
  news/476.bugfix
  templates/sub/frontend_project/cookieplone.json
  templates/sub/frontend_project/hooks/post_gen_project.py
  tests/templates/sub/frontend_project/test_sub_frontend_project_cli.py
  tests/templates/sub/frontend_project/test_sub_frontend_project_variables.py
Owners: @sneridagh

.github/CODEOWNERS:

/.github/ @ericof
/templates/add-ons/backend/ @ericof
/templates/add-ons/frontend/ @sneridagh
/templates/docs/ @ericof
/templates/projects/monorepo/ @ericof
/templates/projects/classic/ @pbauer
/templates/sub/cache/ @ericof
/templates/sub/frontend_project/ @sneridagh
/templates/sub/project_settings/ @sneridagh
